@page
@model WebApplication4.Pages.IndexModel
@namespace MvcApp.Components
@using System.Globalization;
@await Component.InvokeAsync("Timer")
@{
}
<br>
@if (@Request.Query["DesiredDate"].ToString() != "")
{
    <div>Dear @Request.Query["FullName"],<br/>
        You were registered for @Request.Query["SelectedProduct"] in @Request.Query["DesiredDate"].ToString().Substring(0, 10)</div>
}
